## Tarea Semanal 6

---

*   Camilo Martínez Estay.
*   2 de octubre, 2024.


---
El objetivo de esta tarea es practicar el uso de la biblioteca Pandas para analizar datos de bancos fallidos.

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os

os.chdir('/content/drive/MyDrive/2024 (S2)/Programación Avanzada/Tarea 4')

In [5]:
!pwd

/content/drive/MyDrive/2024 (S2)/Programación Avanzada/Tarea 4

In [10]:
import pandas as pd

df = pd.read_csv('banklist.csv')

**Muestre las 10 primeras filas del dataframe**

In [15]:
df.head(10)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
5,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
6,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,17-Nov-16
7,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,1-Jun-17
8,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,6-Sep-16
9,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,6-Sep-16

**Obtener una lista o matriz de todos los estados en el conjunto de datos, sin repetición, ordenados de la A a la Z**

In [18]:
lista_estados = sorted(df['ST'].unique())
print(lista_estados)

['AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'MI', 'MN', 'MO', 'MS', 'NC', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'WA', 'WI', 'WV', 'WY']

**¿Cuáles son los 5 estados con más bancos fallidos?**

In [22]:
# Cantidad de bancos fallidos por estado
bancos_por_estado = df['ST'].value_counts()

# 5 estados con más bancos fallidos
top_5_estados = bancos_por_estado.head(5)

#Resultados
print(top_5_estados)

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

**¿Cuáles son las 5 principales instituciones adquirentes?**

In [24]:
# Contar la cantidad de veces que cada institución adquirente aparece
instituciones_adquirentes = df['Acquiring Institution'].value_counts()

# Obtener las 5 principales instituciones adquirentes
top_5_instituciones = instituciones_adquirentes.head(5)

# Mostrar los resultados
print(top_5_instituciones)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

**¿Cuántos bancos ha adquirido el State Bank of Texas? ¿Cuántos de ellos estaban realmente en Texas?**

In [26]:
# Filtrar los bancos adquiridos por 'State Bank of Texas'
bancos_state_bank_of_texas = df[df['Acquiring Institution'] == 'State Bank of Texas']

# Contar cuántos bancos ha adquirido el 'State Bank of Texas'
total_bancos_adquiridos = bancos_state_bank_of_texas.shape[0]

# Contar cuántos de esos bancos están en Texas (TX)
bancos_en_texas = bancos_state_bank_of_texas[bancos_state_bank_of_texas['ST'] == 'TX'].shape[0]

# Mostrar los resultados
print(f"El State Bank of Texas ha adquirido {total_bancos_adquiridos} bancos.")
print(f"De esos, {bancos_en_texas} estaban realmente en Texas.")

El State Bank of Texas ha adquirido 3 bancos.
De esos, 1 estaban realmente en Texas.

**¿Cuál es la ciudad más común en California donde un banco quiebra?**

In [28]:
# Filtrar por bancos en California
bancos_california = df[df['ST'] == 'CA']

# Encontrar la ciudad más común
ciudad_comun = bancos_california['City'].mode()[0]

print(f"La ciudad más común en California donde un banco quiebra es: {ciudad_comun}")

La ciudad más común en California donde un banco quiebra es: Los Angeles

**¿Cuántos nombres de bancos comienzan con la letra 's'?**

In [29]:
# Filtrar bancos cuyos nombres comiencen con 'S'
bancos_con_s = df[df['Bank Name'].str.startswith('S')]

# Contar cuántos bancos cumplen esta condición
cantidad_bancos_con_s = bancos_con_s.shape[0]

print(f"Hay {cantidad_bancos_con_s} bancos cuyos nombres comienzan con la letra 'S'.")

Hay 53 bancos cuyos nombres comienzan con la letra 'S'.

**¿Cuántos bancos consisten en dos palabras? Ej. "First Bank" , "Bank Georgia"**

In [30]:
# Contar los bancos cuyos nombres tienen exactamente dos palabras
bancos_dos_palabras =df['Bank Name'].apply(lambda x: len(x.split()) == 2)

# Contar cuántos bancos cumplen esta condición
cantidad_bancos_dos_palabras = bancos_dos_palabras.sum()

print(f"Hay {cantidad_bancos_dos_palabras} bancos cuyos nombres consisten en dos palabras.")

Hay 114 bancos cuyos nombres consisten en dos palabras.

**¿Cuántos bancos quebrados no tienen la palabra "Banco" en su nombre?**

In [31]:
# Filtrar bancos cuyos nombres no contienen la palabra "Bank"
bancos_sin_bank = df[~df['Bank Name'].str.contains('Bank', case=False)]

# Contar cuántos bancos cumplen esta condición
cantidad_bancos_sin_bank = bancos_sin_bank.shape[0]

print(f"Hay {cantidad_bancos_sin_bank} bancos quebrados que no tienen la palabra 'Bank' en su nombre.")

Hay 10 bancos quebrados que no tienen la palabra 'Bank' en su nombre.

**¿Cuántos bancos cerraron en el año 2008?**

In [36]:
# Especificar el formato de fecha, por ejemplo 'MM/DD/YYYY'
df['Closing Date'] = pd.to_datetime(df['Closing Date'], format='%m/%d/%Y', errors='coerce')

# Filtrar por bancos que cerraron en 2008
df_2008 = df[df['Closing Date'].dt.year == 2008]

# Cantidad de bancos que cerraron en 2008
cantidad_bancos_2008 = df_2008.shape[0]

print(f"En el año 2008 cerraron {cantidad_bancos_2008} bancos.")

#El parámetro errors='coerce' en pd.to_datetime convierte los valores no válidos o mal formateados en NaT (valores nulos) durante la conversión a formato datetime, evitando que el proceso falle.

En el año 2008 cerraron 25 bancos.